.brand-logo {
    margin-left: 1%;
}

#navigator {
    padding: 10px;
}

#course-table ul, #course-table ul li{
    position: relative;
}

#course-table ul li {
    display: inline;
    margin: 5px;
}
