.brand-logo {
    margin-left: 1%;
}

#navigator {
    padding: 10px;
}

#main-areas, #elective-areas {
    font-size: 10px;
}

#elective-areas>ul {
    overflow: hidden;
    overflow-y: scroll;
}

#course-table ul, #course-table ul li {
    position: relative;
}

#course-table>ul li {
    margin: 5px;
}

#course-table>ul {
    box-shadow: none;
    border: none;
}

/*course list item*/
#session-course-list li {
    display: inline-block;
    float: left;
}


/*the dnd-list should always have a min-height/min-width,
otherwise you can't drop to it once it's empty*/

ul[dnd-list] {
    margin: 0px;
    min-height: 30px;
    min-width: 50px;
}


/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */

.dndDragging {
    opacity: 0.8;
}


/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */

#course-table .dndDraggingSource {
    display: none;
}


/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */

.dndPlaceholder {
    background-color: #b3ccac;
    display: block;
    min-width: 125px;
    min-height: 38px;
    border-radius: 2px;
}

#profile-status {
    height: 175px;
    overflow: scroll;
    padding: 5px;
}

#ceab-requirement {
    margin-left: auto;
    margin-right: auto;
}

#ceab-requirement>ul>li {
    display: inline-block;
    float: left;
    width: 150px;
    height: 55px;
    margin: 5px;
    text-align: center;
    font-size: 15px;
    color: white;
}

.ceab-satisfied-true {
    background-color: #39a69a;
}

.ceab-satisfied-false {
    background-color: #da696c;
}

.program-satisfied-true {
    background-color: #39a69a;
    color: white;
}

.program-satisfied-false {
    background-color: #da696c;
    color: white;
}

#program-requirement table tr td {
    overflow: auto;
    overflow-y: scroll;
    height: 25px;
}

#program-rules {
    position: fixed;
    z-index: 12;
    top: 100px;
    right: 100px;
    width: 20%;
    height: auto;
    padding: 8px;
}

#program-rules ul {
    list-style: circle;
}

#prerequisite {
    color: red;
}
