<div id="about-modal" class="modal">
    <div class="modal-content">
        <p>The website is developed during Christmas Holiday of 2016, with following frameworks:</p>
        <p>Backend:</p>
        <ul>
            <li>Flask</li>
            <li>lxml</li>
            <li>requests</li>
            <li>MongoDB</li>
        </ul>
        <p>Frontend:</p>
        <ul>
            <li>AngularJS</li>
            <li>Materialize</li>
            <li>Angular-drag-and-drop-lists</li>
            <li>FuseJS</li>
        </ul>
        <p>There are still some bugs. If you would like to join me, helping improve the website, please contact me at chenlei.hu@mail.utoronto.ca</p>
    </div>
    <div class="modal-footer">
        <div class="modal-action modal-close waves-effect waves-green btn-flat">Close</div>
    </div>
</div>
