<div id="course-detail-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <h5>{{courseDetail.courseCode}}:
            {{courseDetail.courseName}}</h5>
        <p>{{courseDetail.courseDescription}}</p>
        <table>
            <tr>
                <td>Math</td>
                <td>NS</td>
                <td>CS</td>
                <td>ES</td>
                <td>ED</td>
                <td>Total</td>
            </tr>
            <tr>
                <td>{{courseDetail.auInfo.Math}}</td>
                <td>{{courseDetail.auInfo.NS}}</td>
                <td>{{courseDetail.auInfo.CS}}</td>
                <td>{{courseDetail.auInfo.ES}}</td>
                <td>{{courseDetail.auInfo.ED}}</td>
                <td>{{courseDetail.auInfo.Total}}</td>
            </tr>
        </table>
        <p>exclusions:{{courseDetail.exclusions}}</p>
        <p>co-requisites:{{courseDetail.coRequisites}}</p>
    </div>
    <div class="modal-footer">
        <div class="modal-action modal-close waves-effect waves-green btn-flat">Close</div>
    </div>
</div>

<script type="text/javascript">
    // make modals operate
    $(document).ready(function() {
        $('.modal').modal();
    });
</script>
