<!DOCTYPE html>
<!-- after loging in, and selecting the profile, the user would be directed to this page to manipulate his/her profile-->
<html>
    <head>
        <meta charset="utf-8">
        <title>Neo Magellan</title>
        <!-- js part -->
        <!-- Import Jquery and Jquery-UI -->
        <script type="text/javascript" src="static/bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="static/bower_components/jquery-ui/jquery-ui.min.js" charset="utf-8"></script>
        <!-- Import angularjs -->
        <script type="text/javascript" src="static/bower_components/angular/angular.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="static/bower_components/angular-dragdrop/src/angular-dragdrop.min.js" charset="utf-8"></script>
        <!-- import Materialize.js(depend on jquery) -->
        <script type="text/javascript" src="static/bower_components/materialize/dist/js/materialize.min.js"></script>
        <script type="text/javascript" src="static/bower_components/angular-materialize/src/angular-materialize.js"></script>

        <!-- css part -->
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="static/bower_components/materialize/dist/css/materialize.min.css" media="screen,projection"/>
        <!-- Import css -->
        <link rel="stylesheet" href="static/css/course_select.css">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper" id="header-bar">
                    <a href="#" class="brand-logo">Neo Magellan Project</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            <a href="#">Contact us</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div ng-app="CourseTable">
            <div class="row">
                <div class="col s3" id="navigator" ng-controller="navigator">
                    <!-- course_detail_modal -->
                    <div id="course-detail-modal" class="modal bottom-sheet">
                        <div class="modal-content">
                            <h5>{{courseDetail.course_code}}: {{courseDetail.course_name}}</h5>
                            <p>{{courseDetail.course_description}}</p>
                            <table>
                                <tr>
                                    <th ng-repeat="(field, au) in courseDetail.au_info">{{field}}</th>
                                </tr>
                                <tr>
                                    <th ng-repeat="(field, au) in courseDetail.au_info">{{au}}</th>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                    <!-- later there would be specifically designed icons for each course area -->
                    <ul class="collapsible" data-collapsible="accordion">
                        <li ng-repeat="mainArea in mainAreas">
                            <div class="collapsible-header">
                                <i class="material-icons">filter_drama</i>{{mainArea.area_name}}</div>
                            <div class="collapsible-body">
                                <ul>
                                    <li ng-repeat="course in mainArea.course_list">
                                        <a
                                            class="waves-effect waves-light btn"
                                            data-drag="true"
                                            data-jqyoui-options="{resert: 'invalid'}"
                                            ng-model="list1"
                                            jqyoui-draggable="{animate:true}"
                                            ng-hide="false"
                                            aria-disabled="false"
                                            style="position: relative; z-index: auto; left: 0px; top: 0px"
                                            href="#course-detail-modal"
                                            ng-click="getCourseDetail(course.course_code, course.course_length)">
                                            {{course.course_code}}
                                        </a>
                                        <!-- <p>{{course.course_name}}</p> -->
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="collapsible" data-collapsible="accordion">
                        <li ng-repeat="elecArea in elecAreas">
                            <div class="collapsible-header">
                                <i class="material-icons">filter_drama</i>{{elecArea.area_code}}</div>
                            <div class="collapsible-body">
                                <ul>
                                    <li ng-repeat="course in elecArea.course_list">
                                        <div
                                            class="waves-effect waves-light btn"
                                            data-drag="true"
                                            data-jqyoui-options="{resert: 'invalid'}"
                                            ng-model="list1"
                                            jqyoui-draggable="{animate:true}"
                                            ng-hide="false"
                                            aria-disabled="false"
                                            style="position: relative; z-index: auto; left: 0px; top: 0px">
                                            {{course.course_code}}
                                        </div>
                                        <p>{{course.course_name}}</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s8">
                    <div class="*" id="info-panel" ng-controller="infoPanel">
                        display the how much the current course selection meet the creteria 4 areas, 4 depth in 2 areas, etc... (x/y)
                    </div>
                    <div class="divider"></div>
                    <div class="*" id="main-table" ng-controller="mainTable">
                        course table: shall be a table to accept draggable items
                        <table>
                            <tr ng-repeat="(year, courses) in courseTable">
                                <td>{{year}}</td>
                                <td ng-repeat="course in courses">
                                    <div
                                        class="waves-effect waves-light btn"
                                        data-drag="true"
                                        data-jqyoui-options="{resert: 'invalid'}"
                                        ng-model="list1"
                                        jqyoui-draggable="{animate:true}"
                                        ng-hide="false"
                                        aria-disabled="false"
                                        style="position: relative; z-index: auto; left: 0px; top: 0px">{{course}}</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="divider"></div>
        <div ng-app="CommentPanel" id="comment-management" ng-controller="commentManagement">comment panel</div>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                    &copy;2016 Pretend there is copy right
                </div>
            </div>
        </footer>

        <script type="text/javascript">
            // initialize apps modules
            angular.module('CourseTable', ['ngDragDrop', 'ui.materialize'])
            angular.module('CommentPannel', [])
            // make modals operate
            $(document).ready(function() {
                $('.modal').modal();
            });
        </script>
        <!-- import controllers -->
        <script type="text/javascript" src="static/js/navigator.js" charset="utf-8"></script>
        <script type="text/javascript" src="static/js/main_table.js" charset="utf-8"></script>
        <script type="text/javascript" src="static/js/info_panel.js" charset="utf-8"></script>
        <script type="text/javascript" src="static/js/comment_management.js" charset="utf-8"></script>
    </body>
</html>
